/**Fuente**/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/**
Font Family
font-family: "Quicksand", sans-serif;
**/

/**Reset**/
*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

.pages-fondo{
    width: 100%;
    height: 60rem;
    background-color: #A9A27C;
}

header{
    padding: 0.30rem 0rem;
    background-color: #5B594E;
    font-family: "Quicksand", sans-serif;

}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.25rem;
    list-style: none;   
    
}

.dim-logo{
    width: 60px;
    height: 80px;
}

.navbar a{
    display: flex;
    align-items: center;    
    text-decoration: none;
    color: #000;
}

 
.section-principal{
    width: 100%;
    height: 28rem;
    background-image: url("../assets/img/fondo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 270%;
    font-family: "Quicksand", sans-serif;
}

.flexbox{
    display: flex;
    flex-direction: row;
    padding-bottom: 50%;
}

.flexbox div{
    width: 100%;
    gap: 2.5rem;
    padding-right: 20px ;
}

.section-principal h1{
    font-family: "Quicksand", sans-serif;
    display: flex;
    height: 500px;
    width: 700px;
    align-items: center;
    color: #ffffff;
    filter:drop-shadow(0 0 10px #000);
    padding: 5%;
    font-size: 200%;
}

.boton button{
    font-family: "Quicksand", sans-serif;

}

main{
    width: 100%;
    height: 100%;
    font-family: "Quicksand", sans-serif;
    background-color: #A9A27C;
}


.nosotros{
    width: 100%;
    height: 570px ;
    display: flex;
    align-items: center;
}

.nosotros .div-img{
    margin: 3%;
    width: 100%;
    height: 100%;
}

.nosotros div img{
    width: 50%;
    height: 100%;
}

.nosotros .nosotros-info{
    margin: 3%;
    width: 50%;
    height: 80%;

}

.conteiner-all{
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.conteiner-prod{
    display: flex;
    width: 1400px;
    height: 150px;
    text-align: left;
    box-shadow: 1px 1px 5px rgb(65, 64, 64);
    border-radius: 10px;
}

.conteiner-prod div{
    width: 20%;
    height: 90%;
    padding-left: 1%;
}

.conteiner-prod div img{
    width: 70%;
    height: 110%;
    object-fit: contain;
}


.accesorio{
    width: 100%;
    height: 570px ;
    display: flex;
    align-items: center;
}

.accesorio .accesorio-img{
    margin: 350%;
    width:  10%;
    height: 20%;
}

.accesorio .accesorio-info{
    margin: 3%;
    width: 50%;
    height: 80%;

    
}

.producto{
    width: 1024px;
    height: 570px;
    display: flex;
    align-items: center;
}

.producto .producto-img{
    margin: 350%;
    width:  50%;
    height: 70%;
}

.producto .prod-info{
    margin: 3%;
    width: 50%;
    height: 80%;

}



footer{
    display: flex;
    background-color: #B6B091;
    width: 100%;
    height: 65px;
    font-family: "Quicksand", sans-serif;
    justify-content: center;
}

footer a{
    text-decoration: none;
    color: #000;   
    align-items: center;
    margin: 2%;
    margin-top: 1.5%;
}

.tam-gral{
    width: 28px;
}

.tam-ig{
    width: 25px;
}

.tam-grupo{
    height: 100px;
    width: 200px;
}

.icon{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    
}


@media (max-width: 768px){
    .pages-fondo{
        width: 768px;
        height: 60rem;
        background-color: #A9A27C;
    }

    header{
        padding: 0.3rem 0.1rem;
    
    }
    
    .navbar{
        justify-content: start;
        gap: 1.25rem;
        padding: 1%;
        
    }

    .section-principal{
        width: 769px;
        height: 60rem;
        background-image: url("../assets/img/fondo.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 790px 135%;
        font-family: "Quicksand", sans-serif;
    }

    .section-principal h1{
        font-family: "Quicksand", sans-serif;
        display: flex;
        height: 1000px;
        width: 500px;
        align-items: center;
        color: #ffffff;
        filter:drop-shadow(0 0 10px #000);
        padding: 5%;
        font-size: 200%;
    }

    .conteiner-all{
        display: grid;
        justify-content: left;
        grid-template-columns: 100px 100px ;
        grid-template-rows: 150px 150px 150px 150px;
        text-align: center;
        gap: 20%;
        padding: 8%;
    }

    .conteiner-prod{
        display: flex;
        flex-direction: column;
        width: 200px;
        height: 250px;
        justify-content: center;
        text-align: center;
    }
        
    .conteiner-prod div img{
        margin-right: 100%;
        width: 100%;
        height: 110%;
        object-fit: contain;
    }

    .conteiner-prod div{
        display: flex;
        flex-direction: column;
        margin-top: 5%;
        width: 100%;
        height: 50%;
    }
    
    footer{
        display: flex;
        background-color: #B6B091;
        width: 100%;
        height: 65px;
        font-family: "Quicksand", sans-serif;
        justify-content: start;
    }
    
    footer a{
        text-decoration: none;
        color: #000;   
        align-items: center;
        margin: 2%;
        margin-top: 1.5%;
    }
}


@media (max-width:375px){

    .pages-fondo{
        width: 100%;
        height: 60rem;
    }

    header{
        padding: 0.2rem 0.1rem;
    
    }
    
    .navbar{
        justify-content: start;
        gap: 1.25rem;
        padding: 1%;
        
    }

    .section-principal{
        width: 375px;
        height: 30rem;
        background-size: 100% 100%;
        padding-right: 10%;
    }

    .section-principal h1{
        width: 280px;
        height: 460px;
        padding: 10%;
        font-size: 140%;
    }

    header{
        padding: 0.30rem 0rem 0rem 0rem;
    
    }
    
    
    .navbar{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.25rem;
        list-style: none;   
        
    }
    
    .navbar a{
        display: flex;
        align-items: center;    
        text-decoration: none;
    }

    .conteiner-all{
        padding-left: 5%;
        display: grid;
        justify-content: left;
        grid-template-columns: 50px 50px;
        grid-template-rows: 100px 100px 100px;
        text-align: center;
        gap: 43%;
    }

    .conteiner-prod{
        display: flex;
        flex-direction: column;
        width: 150px;
        height: 180px;
        justify-content: center;
        text-align: center;
    }
}
